<div class="client-dashboard">
  <div class="sidebar">
    <ul>
      <li routerLink="/client-dashboard/client-info">Client Info</li>
      <!-- 绝对路径 因为是从根路径导航过来的 -->
      <li routerLink="/client-dashboard/asn-operations-center">ASN Operations Center</li>
      <li (click)="selectSection('oms')">OMS</li>
    </ul>
  </div>
  <div class="main-content">


    <ng-container *ngIf="selectedSection === 'oms'">
      <!-- OMS Section -->
      <p>OMS section coming soon...</p>
    </ng-container>
  </div>

  <router-outlet></router-outlet>
</div>