<div class="staff-dashboard">
  <div class="sidebar">
    <ul>
      <li routerLink="/staff-dashboard/staff-info">Staff Info</li>
      <li (click)="selectSection('asn')">ASN</li>
      <li (click)="selectSection('oms')">OMS</li>
    </ul>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
    <ng-container *ngIf="selectedSection === 'asn'">
      <!-- ASN Section -->
      <p>ASN section coming soon...</p>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'oms'">
      <!-- OMS Section -->
      <p>OMS section coming soon...</p>
    </ng-container>
  </div>
</div>