<div class="display-product-info">
  <h2>Display Product Info</h2>

  <form #searchForm="ngForm" (ngSubmit)="searchProduct(searchForm)">
    <div>
      <label for="id">Search By ID:</label>
      <input type="text" id="id" [(ngModel)]="search.id" name="id" placeholder="Product ID"
        [disabled]="search.name.length > 0 || search.sku.length > 0">
    </div>
    <div>
      <label for="name">Search By Name:</label>
      <input type="text" id="name" [(ngModel)]="search.name" name="name" placeholder="Product Name"
        [disabled]="search.id.length > 0 || search.sku.length > 0">
    </div>
    <div>
      <label for="sku">Search By SKU:</label>
      <input type="text" id="sku" [(ngModel)]="search.sku" name="sku" placeholder="SKU"
        [disabled]="search.id.length > 0 || search.name.length > 0">
    </div>
    <button type="submit">Search</button>
  </form>

  <div *ngIf="product">
    <h3>Product Details:</h3>
    <p>Name: {{product.name}}</p>
    <p>SKU: {{product.sku}}</p>
    <p>Client Id: {{product.clientId}}</p>
    <p>Description: {{product.description}}</p>
    <p>Price: {{product.sellingPrice}}</p>
  </div>

  <button (click)="goBack()">Back</button>
  <router-outlet></router-outlet>
</div>