<div class="client-info">
  <form (ngSubmit)="updateClient()">
    <div *ngIf="role == 'CLIENT'">
      <label>Password:</label>
      <input type="password" [(ngModel)]="client.password" name="password" required>
    </div>
    <div>
      <label>Phone:</label>
      <input type="text" [(ngModel)]="client.phone" name="phone" required>
    </div>
    <div>
      <label>Address:</label>
      <input type="text" [(ngModel)]="client.address" name="address" required>
    </div>
    <div>
      <label>City:</label>
      <input type="text" [(ngModel)]="client.city" name="city" required>
    </div>
    <div>
      <label>State:</label>
      <input type="text" [(ngModel)]="client.state" name="state" required>
    </div>
    <div>
      <label>Country:</label>
      <input type="text" [(ngModel)]="client.country" name="country" required>
    </div>
    <button type="submit">Update Info</button>
  </form>

  <button (click)="goBack()">Back</button>
  <router-outlet></router-outlet>
</div>